<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <title>
      {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
          {{ app.config.get('general/sitename') }}
      {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
  </title>
  {% if app.config.get('theme/body-font') != 'serif' %}
    <link href='https://fonts.kx.nu/OpenSans.css' rel='stylesheet' type='text/css'>
  {% endif %}
  <link rel="stylesheet" href="https://fonts.kx.nu/Cardo.css">
  <link rel="stylesheet" href="{{ paths.theme }}css/responsive.min.css"/>
  <link rel="stylesheet" href="{{ paths.theme }}css/tufte.css"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body {% if app.config.get('theme/body-font') != 'serif' %}class="sans"{% endif %}>

<nav id='mainnav'>
&nbsp;
{{ menu() }}
</nav>

<div class="container">
<div class="row">



    <header class="col-xxs-12">



      {% if app.request.get('_route') == 'homepage' %}
        <h1>{{ app.config.get('general/sitename') }}</h1>
      {% else %}
        <p class="sitename"><a href="{{ paths.root }}">{{ app.config.get('general/sitename') }}</a></p>
      {% endif %}
    </header>

    <article class="col-xxs-12 col-m-8">
        {% block content %}

        {% endblock %}
    </article>

    <div class="col-xxs-12 col-m-4">

        <p>
Tufte CSS attempts only to cover some basic “Tuftean” ideas, providing one possible set of defaults, using cascading stylesheets. Therefore many of the more interesting techniques he points to are far outside the scope of this project. Graphing data, interactive data visualizations, and non-traditional text formats are fantastic tools that aren’t covered by Tufte CSS. Here is a short and incomplete overview of tools that can help accomplish a few Tufte-like techniques.

        </p>
    </div>

</div>
</div>





  <script src="{{ paths.theme }}javascript/tufte.js"></script>


</body>
</html>
