{% macro image(img, rec, pos) %}

    {% if pos == 'sidebar' %}
        {% set w = 300 %}
        {% set h = 200 %}
        {% set class = 'sideimage' %}
        {% set noteclass = 'sidenote' %}
    {% else %}
        {% set w = 800 %}
        {% set h = 360 %}
        {% set class = '' %}
        {% set noteclass = '' %}
    {% endif %}

    {% if (img.file is not empty) %}
        <span class="imageholder {{ class }}">
            <a href="{{ image(img.file) }}" title="{{ img.title|default('') }}">
                <img src="{{ thumbnail(img.file, w, h) }}" alt="{{ img.alt|default('') }}">
            </a>
        </span>
        {% if img.title is not empty %}
            <span class="note {{ noteclass }}">{{ img.title }}</span>
        {% elseif img.alt is not empty %}
            <span class="note {{ noteclass }}">{{ img.alt }}</span>
        {% endif %}
    {% endif %}
{% endmacro %}