{% extends '_base.twig' %}
{% import 'partials/_macro.twig' as macros %}

{% block bodyclass %}homepage{% endblock %}

{% block container %}
    <header>
        <h1>
            {{ config.get('general/sitename') }}
        </h1>
    </header>

    {% setcontent records = 'entries' latest limit 6 %}
    {% set record = records|first %}

        <article class='content'>

            <h2><a href='{{ record|link }}'>{{ record|title }}</a></h2>

            {% include 'partials/_recordfooter.twig' %}

            {% if record|image %}
            {{ macros.image(record|image, record, 'main') }}
            {% endif %}

            {{ macros.wrap_paragraph(record.teaser, record|excerpt(320)) }}

            <p><a href='{{ record|link }}'>Continue reading &raquo;</a></p>

            <hr>

        </article>

    <section>
    {% for record in records|slice(1) %}

        <article class='content'>

            {% if record|image %}
            {{ macros.image(record|image, record, 'sidebar') }}
            {% endif %}

            <h2><a href='{{ record|link }}'>{{ record|title }}</a></h2>

            {% include 'partials/_recordfooter.twig' %}

            {{ macros.wrap_paragraph(record.teaser, record|excerpt(320)) }}

            <p><a href='{{ record|link }}'>Continue reading &raquo;</a></p>

            <hr>

        </article>

    {% endfor %}

    {{ pager(records, template = 'helpers/_pager_bulma.html.twig') }}

    </section>

    <aside>
        {# let's see if we have a 'block' resource type, with 'about' for a slug? #}
        {% setcontent about = 'blocks/about' %}
        {% if about %}
            <h3>{{ about.title }}</h3>

            {{ macros.wrap_paragraph(about.content, about|excerpt(320)) }}

            {% set edit_link = about|edit_link %}
            {% set content_link = about.contentlink|default(about|link) %}
            {% if content_link or edit_link %}
                <p>
                    {%- if content_link %}
                        <a href="{{ relative_path(content_link|e) }}">{{ __('general.phrase.read-more') }}</a>
                    {% endif -%}
                    {%- if edit_link %}
                        / <a href="{{ edit_link }}">{{ __('general.phrase.edit') }}</a>
                    {% endif -%}
                </p>
            {% endif %}

        {% else %}

            {# otherwise we might have a 'page' with slug 'about'? #}
            {% setcontent about = 'page/about' %}
            {% if about %}

                {{ macros.wrap_paragraph(about.content, about|excerpt(320)) }}

                <a href='{{ about|link }}'>{{ __('general.phrase.read-more') }}</a>
            {% else %}

                {# fallback to dummy text #}
                <p>
                    Welcome to the Tufte theme! Read the supplied README on instructions on how to change this blurb, right here. Thanks for choosing this simple theme!
                </p>

            {% endif %}
        {% endif %}

    </aside>





{% endblock container %}


