{% extends '_base.twig' %}
{% import 'partials/_macro.twig' as macros %}

{% block bodyclass %}homepage{% endblock %}

{% block container %}
    <header>
        <h1>
            {% block title %}{{ contenttype.name }}{% endblock %}
        </h1>
    </header>

    <section>
    {% for record in records %}

        <article class='content'>

            {% if record|image %}
            {{ macros.image(record|image, record, 'sidebar') }}
            {% endif %}

            <h2><a href='{{ record|link }}'>{{ record|title }}</a></h2>

            {% include 'partials/_recordfooter.twig' %}

            <p>{{ record|excerpt(320)|raw }}</p>

            <p><a href='{{ record|link }}'>Continue reading &raquo;</a></p>

            <hr>

        </article>

    {% endfor %}

    {{ pager(records) }}

    </section>







{% endblock container %}


