{% extends '_base.twig' %}


{% block content %}

    <section>
    <h1>{{ record.title }}</h1>

    {% if record.image!="" %}
    <span class="sideimage imageholder">
        <a href="{{ image(record.image) }}">
            <img src="{{ thumbnail(record.image, 400, 260) }}">
        </a>
    </span>
    {% endif %}

    <p class="subtitle">{{ record.teaser|striptags('<b><em><i><strong><a><u>')|raw }}</p>


    <span class="imageholder">
        <a href="{{ image(record.image) }}">
            <img src="{{ thumbnail(record.image, 800, 360) }}">
        </a>
    </span>

    <span class="sidenote">
      This page was in fact originally an adaptation of the <a href="http://rmarkdown.rstudio.com/examples/tufte-handout.pdf">Tufte Handout Example</a> PDF.
    </span>

    {{ record.body }}

    {% include '_recordfooter.twig' %}


    </section>

{% endblock %}