{% extends '_base.twig' %}


{% block content %}

    <section>
    <h1>{{ record.title }}</h1>

    {% if record.image!="" %}
    <p>
        <span class='sideimage'>
            <span class="imageholder">
                <a href="{{ image(record.image) }}">
                    <img src="{{ thumbnail(record.image, 400, 260) }}">
                </a>
            </span>
        </span>
    </p>
    {% endif %}

    <p class="subtitle">{{ record.teaser|striptags('<b><em><i><strong><a><u>')|raw }}</p>

    {{ record.body }}

    </section>

{% endblock %}