{% extends '_base.twig' %}

{% import "_macro.twig" as macros %}

{% block pagename %}
    <a href="{{ record.link }}">{{ record.title }}</a>
{% endblock %}

{% block title %}
    {{ record.title }}
{% endblock %}

{% block content %}

    <section>

    {{ macros.image(record.values.image, record, 'sidebar') }}

    <p class="subtitle">
        {% if record.introduction is not empty %}
            {{ record.introduction|striptags('<b><em><i><strong><a><u>')|raw }}
        {% else %}
            {{ record.teaser(300)|striptags('<b><em><i><strong><a><u>')|raw }}
        {% endif %}
    </p>

    {{ macros.image(record.values.image, record, 'main') }}

    <span class="sidenote">
      This page was in fact originally an adaptation of the <a href="http://rmarkdown.rstudio.com/examples/tufte-handout.pdf">Tufte Handout Example</a> PDF.
    </span>

    {{ record.body }}

    {% include '_recordfooter.twig' %}


    </section>

{% endblock %}